<div class="form-container">
  <mat-card>
    <mat-card-header>
      <div class="logo-container">
        <img src="/assets/logo_gpsguardian.svg" alt="GPS Guardian Logo" />
      </div>
    </mat-card-header>
    <mat-tab-group
      mat-align-tabs="center"
      [selectedIndex]="activeTabIndex"
      (selectedTabChange)="swapIndex()"
    >
      <!-- zaloguj -->
      <mat-tab label="Zaloguj">
        <mat-card-content>
          <form
            [formGroup]="loginForm"
            class="flex-col"
            (ngSubmit)="checkData()"
            *ngIf="!isLoggedIn"
          >
            <mat-form-field appearance="fill">
              <mat-label>Login/Email</mat-label>
              <input
                matInput
                placeholder="Wpisz swój login/email"
                type="email"
                formControlName="login"
                required
              />
              <mat-icon *ngIf="!isDataValid" matSuffix>close</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Hasło</mat-label>
              <input
                matInput
                placeholder="Wpisz swoje hasło"
                type="password"
                formControlName="password"
                required
              />
            </mat-form-field>
            <mat-card-actions>
              <button
                mat-button
                (click)="toggleResetPasswordForm()"
                type="button"
              >
                Zresetuj hasło
              </button>
            </mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!loginForm.valid"
              type="submit"
            >
              Zaloguj się
            </button>
            <p *ngIf="!isDataValid">Błąd 401: Nieprawidłowy login lub hasło</p>
          </form>
          <p *ngIf="isLoggedIn">Zostałeś Zalogowany</p>
        </mat-card-content>
      </mat-tab>
      <!-- zarejestruj -->
      <mat-tab label="Zarejestruj">
        <mat-card-content>
          <form
            [formGroup]="registerForm"
            class="flex-col"
            (ngSubmit)="onRegister()"
          >
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Wpisz swój email"
                type="email"
                formControlName="email"
                required
              />
              <mat-icon
                *ngIf="registerForm.get('email')?.errors?.['email']"
                matSuffix
                >error</mat-icon
              >
              <mat-icon
                *ngIf="
                  registerForm.get('email')?.valid &&
                  registerForm.get('email')?.dirty
                "
                matSuffix
                >check</mat-icon
              >
              <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">
                Nieprawidłowy format email
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Hasło</mat-label>
              <input
                matInput
                placeholder="Wpisz swoje hasło"
                type="password"
                formControlName="password"
                required
              />
              <mat-icon
                *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.errors?.['passwordStrength']"
                matSuffix
                >error</mat-icon
              >
              <mat-icon
                *ngIf="
                  registerForm.get('password')?.valid &&
                  registerForm.get('password')?.dirty
                "
                matSuffix
                >check</mat-icon
              >
              <mat-error
                *ngIf="registerForm.get('password')?.errors?.['passwordStrength']"
              >
                Hasło musi zawierać cyfrę, małą i dużą literę oraz być dłuższe
                niż 8 znaków
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Powtórz hasło</mat-label>
              <input
                matInput
                placeholder="Wpisz ponownie hasło"
                type="password"
                formControlName="confirmPassword"
                required
              />
            </mat-form-field>
            <mat-error *ngIf="registerForm.hasError('passwordsMismatch')">
              Hasła nie są zgodne
            </mat-error>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!registerForm.valid"
              type="submit"
            >
              Załóż konto
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
    <mat-tab-group mat-align-tabs="center" *ngIf="showResetPasswordForm">
      <!-- zmiana hasła -->
      <mat-tab label="Zresetuj hasło">
        <mat-card-content>
          <form
            [formGroup]="resetPasswordForm"
            class="flex-col"
            (ngSubmit)="onResetPassword()"
            *ngIf="!isResetEmailSent"
          >
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Wpisz swój email"
                type="email"
                formControlName="email"
                required
              />
              <mat-icon
                *ngIf="resetPasswordForm.get('email')?.errors?.['email']"
                matSuffix
                >error</mat-icon
              >
              <mat-error
                *ngIf="resetPasswordForm.get('email')?.errors?.['email']"
              >
                Nieprawidłowy format email
              </mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!resetPasswordForm.valid"
              type="submit"
            >
              Wyślij instrukcje resetowania
            </button>
          </form>
          <p *ngIf="isResetEmailSent">
            Instrukcje resetowania hasła zostały wysłane na podany adres email.
          </p>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
